<p mat-dialog-title>{{ dialogTitle }}</p>
<mat-dialog-content>
  <div style="display: flex; flex-direction: column;">
    <mat-radio-group [(ngModel)]="selectedGradeStateAlias">
      <mat-radio-button
        class="grade-state-selection-radio-button"
        *ngFor="let selectedGradeStateAlias of allGradeStateAliases; index as i"
        [value]="selectedGradeStateAlias"
        (change)="gradedStateChanged($event)"
      >
        {{ allGradeStates[i] }}
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline">
      <mat-label>Заголовок</mat-label>
      <input
        matInput
        placeholder="Заголовок задания"
        maxlength="{{ questionValidationService.maxTitleLength }}"
        [(ngModel)]="question.title"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Содержание</mat-label>
      <textarea
        matInput
        rows="7"
        placeholder="Содержание"
        maxlength="{{ questionValidationService.maxBodyLength }}"
        required
        [(ngModel)]="question.body"
      ></textarea>
      <mat-hint class="validation-text" *ngIf="questionBodyIsIncorrect"
        >Обязательное поле</mat-hint
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Источник</mat-label>
      <textarea
        matInput
        rows="3"
        placeholder="Источник"
        maxlength="{{ questionValidationService.maxSourceLength }}"
        required
        [(ngModel)]="question.source"
      ></textarea>
      <mat-hint class="validation-text" *ngIf="questionSourceIsIncorrect"
        >Обязательное поле</mat-hint
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Комментарий</mat-label>
      <textarea
        matInput
        rows="3"
        placeholder="Комментарий"
        maxlength="{{ questionValidationService.maxCommentLength }}"
        [(ngModel)]="question.comment"
      ></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="acceptDialog()">
    Сохранить
  </button>
  <button mat-raised-button color="primary" (click)="cancelDialog()">
    Отменить
  </button>
</mat-dialog-actions>
