<p mat-dialog-title>{{ dialogTitle }}</p>
<mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Ответ">
      <table>
        <tr>
          <td>
            Получен:
          </td>
          <td>
            [Дата и время получения]
          </td>
        </tr>
        <tr>
          <td>
            Команда:
          </td>
          <td>
            {{ team.title }}
          </td>
        </tr>
        <tr>
          <td>
            Номер команды:
          </td>
          <td>
            {{ team.number }}
          </td>
        </tr>
        <tr>
          <td>
            Номер тура:
          </td>
          <td>
            {{ answer.roundNumber }}
          </td>
        </tr>
        <tr>
          <td>Задание ({{ question.number }}):</td>
          <td>
            <div>
              <!-- Текст задания в диве фикс. высоты -->
              {{ question.body }}
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Присланный ответ:
          </td>
          <td>
            <div>
              <!-- Текст ответа в диве фикс. высоты -->
              {{ answer.body }}
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Комментарий к ответу:
          </td>
          <td>
            <div>
              <!-- Текст комментария к ответу в диве фикс. высоты -->
              {{ answer.comment }}
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Оценка ответа:
          </td>
          <td>
            Принят/Не принят/Без оценки
          </td>
        </tr>
      </table>
    </mat-tab>
    <mat-tab label="Письмо с этим ответом"> </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="acceptAnswer()">
    Принять ответ
  </button>
  <button mat-raised-button color="accent" (click)="declineAnswer()">
    Отклонить ответ
  </button>
  <button mat-raised-button color="primary" (click)="justCloseDialog()">
    Просто закрыть диалог
  </button>
</mat-dialog-actions>
