.answer-body {
  max-height: 300px;
  overflow: auto;
  white-space: pre-wrap;
  background-color: lightgoldenrodyellow;
}

.email-body {
  max-height: 300px;
  overflow: auto;
  white-space: pre-line;
  background-color:  lightcyan;
}

.question-body {
  max-height: 300px;
  overflow: auto;
  white-space: pre-line;
  background-color: white;
}

.answer-empty-row-divider {
  height: 0.25em;
  background-color: peachpuff;
}

.authors-answer {
  max-height: 200px;
  overflow: auto;
  white-space: pre-line;
  background-color: lightblue;
}