<mat-toolbar>
  <span>Ответы</span>
  <span class="fill-remaining-space"></span>
  <button
    mat-raised-button
    color="primary"
    (click)="checkPrerequisitesAndDoImportAnswers()"
  >
    Импортировать ответы из письма
  </button>
</mat-toolbar>
<div>
  <p>
    <mat-form-field class="team-selection-field">
      <mat-label>Команда:</mat-label>
      <mat-select [(value)]="selectedTeamId" placeholder="Команда">
        <mat-option
          *ngFor="let teamId of allTeamIds; index as i"
          [value]="teamId"
        >
          {{ teamTitleAndNumber[i] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-radio-group [(ngModel)]="selectedRoundAlias">
      <mat-radio-button
        class="round-selection-radio-button"
        *ngFor="let selectedRoundAlias of allRoundAliases; index as i"
        [value]="selectedRoundAlias"
        (change)="actualRoundChanged($event)"
      >
        {{ allRoundTitles[i] }}
      </mat-radio-button>
    </mat-radio-group>
  </p>
</div>
<div>
  <mat-tab-group>
    <mat-tab label="Все ответы">
      <table
        mat-table
        [dataSource]="answersDataSource"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>Номер</th>
          <td mat-cell *matCellDef="let answer">{{ answer.questionNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="body">
          <th mat-header-cell *matHeaderCellDef>Содержание</th>
          <td mat-cell *matCellDef="let answer">{{ answer.body }}</td>
        </ng-container>

        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef>Комментарий</th>
          <td mat-cell *matCellDef="let answer">{{ answer.comment }}</td>
        </ng-container>

        <ng-container matColumnDef="roundNumber">
          <th mat-header-cell *matHeaderCellDef>Тур</th>
          <td mat-cell *matCellDef="let answer">{{ answer.roundNumber }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedAnswerColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedAnswerColumns"
          (click)="onAnswerRowClicked(row)"
        ></tr>
      </table>
    </mat-tab>
    <mat-tab label="Ответы без оценок">
      <table
        mat-table
        [dataSource]="answersWithoutGradesDataSource"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>Номер</th>
          <td mat-cell *matCellDef="let answer">{{ answer.number }}</td>
        </ng-container>

        <ng-container matColumnDef="body">
          <th mat-header-cell *matHeaderCellDef>Содержание</th>
          <td mat-cell *matCellDef="let answer">{{ answer.body }}</td>
        </ng-container>

        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef>Комментарий</th>
          <td mat-cell *matCellDef="let answer">{{ answer.comment }}</td>
        </ng-container>

        <ng-container matColumnDef="roundNumber">
          <th mat-header-cell *matHeaderCellDef>Тур</th>
          <td mat-cell *matCellDef="let answer">{{ answer.roundNumber }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedAnswerColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedAnswerColumns"
          (click)="onAnswerRowClicked(row)"
        ></tr>
      </table>
    </mat-tab>
    <mat-tab label="Загруженные письма">
      <table mat-table [dataSource]="emailsDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="sentOn">
          <th mat-header-cell *matHeaderCellDef>Отправлено</th>
          <td mat-cell *matCellDef="let email">{{ email.sentOn }}</td>
        </ng-container>
        <ng-container matColumnDef="processedOn">
          <th mat-header-cell *matHeaderCellDef>Загружено в систему</th>
          <td mat-cell *matCellDef="let email">{{ email.processedOn }}</td>
        </ng-container>
        <ng-container matColumnDef="numbersOfAnsweredQuestions">
          <th mat-header-cell *matHeaderCellDef>Номера заданий</th>
          <td mat-cell *matCellDef="let email">
            {{ email.numbersOfAnsweredQuestions }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedEmailColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedEmailColumns"
          (click)="onEmailRowClicked(row)"
        ></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>
