.round-selection-radio-button {
  margin-left: 1em;
  padding-right: 1em;
}

.team-selection-field {
  margin-left: 1em;
  width: 33%;
}

.email-digest-table {
  border: dotted 1px lightgray;
  margin: 0.5em;
  width: auto;
}

.email-digest-table-title {
  background-color: lightcyan;
  color: darkblue;
  font-family: sans-serif;
  font-size: 1em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  text-align: center;
}

.email-digest-table-prompt-cell {
  border: dotted 1px lightgray;
  color: black;
  font-family: sans-serif;
  font-size: 0.8em;
  padding: 0.5em 0.25em 0.5em 0.25em;
  text-align: left;
}

.email-digest-table-value-cell {
  border: dotted 1px lightgray;
  color: darkred;
  font-family: sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.5em 0.25em 0.5em 0.25em;
  text-align: right;
}
