<mat-toolbar>
  <span>Ответы</span>
  <span class="fill-remaining-space"></span>
  <button mat-raised-button color="primary" (click)="checkPrerequisitesAndDoImportAnswers()">
    Импортировать ответы из письма
  </button>
</mat-toolbar>
<div>
  <table>
    <tr>
      <td class="team-selection-cell">
        <mat-form-field class="team-selection-field">
          <mat-label>Команда:</mat-label>
          <mat-select [(value)]="selectedTeamId" placeholder="Команда" (selectionChange)="actualTeamChanged($event)">
            <mat-option *ngFor="let teamId of allTeamIds; index as i" [value]="teamId">
              {{ teamTitleAndNumber[i] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        При обновлении списков мы вызываем функцию проверки, которая сбрасывает все флаги в начальное состояние
        И кнопка 'показать все команды' больше не показывается. Херня какая-то. Но уже час ночи и башка не работает.
        Костылями закрывать не хочу. Займусь с утра.
        <div *ngIf="notGradedAnswersArePresent" class="not-graded-answers-warning">
          <div *ngIf="!displayingOnlyTeamsWithNotGradedAnswers">
            <p class="not-graded-answers-warning-message">Внимание, среди ответов команд есть ответы без оценок. Вы
              можете отобразить в списке только те команды, у
              которых есть такие ответы.</p>
            <button mat-raised-button color="primary" (click)="turnOnDisplayingOnlyTeamsWithNonGradedAnswers()">
              Отображать только команды у которых есть ответы без оценок
            </button>
          </div>
          <div *ngIf="displayingOnlyTeamsWithNotGradedAnswers">
            <p class="not-graded-answers-warning-message">В выпадающем списке команд слева показываются только команды,
              для которых есть ответы без проставленных оценок.</p>
            <button mat-raised-button color="primary" (click)="turnOffDisplayingOnlyTeamsWithNonGradedAnswers()">
              Отображать все команды
            </button>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
<div>
  <mat-radio-group [(ngModel)]="selectedRoundAlias">
    <mat-radio-button class="round-selection-radio-button"
      *ngFor="let selectedRoundAlias of allRoundAliases; index as i" [value]="selectedRoundAlias"
      (change)="actualRoundChanged($event)">
      {{ allRoundTitles[i] }}
    </mat-radio-button>
  </mat-radio-group>
</div>
<div>
  <mat-tab-group>
    <mat-tab label="Все ответы">
      <table mat-table #allAnswersTable #allAnswersSort="matSort" [dataSource]="answersDataSource" matSort
        class="mat-elevation-z8">
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;Номер&nbsp;</th>
          <td mat-cell *matCellDef="let answer">{{ answer.questionNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="emailSentOn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;Время ответа&nbsp;</th>
          <td mat-cell *matCellDef="let answer">
            {{ answer.emailSentOn | date: "dd-MM-yyyy HH:mm" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="body">
          <th mat-header-cell *matHeaderCellDef>&nbsp;Содержание&nbsp;</th>
          <td mat-cell *matCellDef="let answer">{{ answer.body }}</td>
        </ng-container>

        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef>&nbsp;Комментарий&nbsp;</th>
          <td mat-cell *matCellDef="let answer">{{ answer.comment }}</td>
        </ng-container>

        <ng-container matColumnDef="roundNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;Тур&nbsp;</th>
          <td mat-cell *matCellDef="let answer">
            {{ answer.roundNumber | displayRound }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedAnswerColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedAnswerColumns; let answer" (click)="onAnswerRowClicked(row)"
          [ngClass]="{
            'highlight-answer-without-grade': answer.grade == 'None'
          }"></tr>
      </table>
    </mat-tab>
    <mat-tab label="Ответы без оценок">
      <table mat-table #answersWithoutGradesTable #answersWithoutGradesSort="matSort"
        [dataSource]="answersWithoutGradesDataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;Номер&nbsp;</th>
          <td mat-cell *matCellDef="let answer">{{ answer.questionNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="emailSentOn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;Время ответа&nbsp;</th>
          <td mat-cell *matCellDef="let answer">
            {{ answer.emailSentOn | date: "dd-MM-yyyy HH:mm" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="body">
          <th mat-header-cell *matHeaderCellDef>&nbsp;Содержание&nbsp;</th>
          <td mat-cell *matCellDef="let answer">{{ answer.body }}</td>
        </ng-container>

        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef>&nbsp;Комментарий&nbsp;</th>
          <td mat-cell *matCellDef="let answer">{{ answer.comment }}</td>
        </ng-container>

        <ng-container matColumnDef="roundNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;Тур&nbsp;</th>
          <td mat-cell *matCellDef="let answer">
            {{ answer.roundNumber | displayRound }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedAnswerColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedAnswerColumns; let answer" (click)="onAnswerRowClicked(row)"
          class="highlight-answer-without-grade"></tr>
      </table>
    </mat-tab>
    <mat-tab label="Загруженные письма">
      <table class="email-digest-table">
        <tr>
          <td colspan="2" class="email-digest-table-title">
            Загружено писем
          </td>
        </tr>
        <tr>
          <td class="email-digest-table-prompt-cell">
            На предварительный тур:
          </td>
          <td class="email-digest-table-value-cell">
            {{ emailsCountDigest.emailsQtyForTheFirstRound }}
          </td>
        </tr>
        <tr>
          <td class="email-digest-table-prompt-cell">
            На окончательный тур:
          </td>
          <td class="email-digest-table-value-cell">
            {{ emailsCountDigest.emailsQtyForTheSecondRound }}
          </td>
        </tr>
      </table>
      &nbsp;
      <table mat-table #loadedEmailsTable #loadedEmailsSort="matSort" [dataSource]="emailsDataSource" matSort
        class="mat-elevation-z8">
        <ng-container matColumnDef="sentOn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;Отправлено&nbsp;</th>
          <td mat-cell *matCellDef="let email">
            {{ email.sentOn | date: "dd-MM-yyyy HH:mm" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="importedOn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            &nbsp;Загружено в систему&nbsp;
          </th>
          <td mat-cell *matCellDef="let email">
            {{ email.importedOn | date: "dd-MM-yyyy HH:mm" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="questionNumbersSequence">
          <th mat-header-cell *matHeaderCellDef>&nbsp;Номера заданий&nbsp;</th>
          <td mat-cell *matCellDef="let email">
            {{ email.questionNumbersSequence }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedEmailColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedEmailColumns" (click)="onEmailRowClicked(row)"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>