<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Main menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="toggleQuestionsScreen()">
      Задания
    </button>
    <button mat-menu-item (click)="toggleTeamsScreen()">
      Команды
    </button>
    <button mat-menu-item (click)="toggleAnswersScreen()">
      Ответы
    </button>
    <button mat-menu-item (click)="toggleReportsScreen()">
      Отчёты
    </button>
  </mat-menu>
  <span class="fill-remaining-space"></span>
  <span>Poetica</span>
</mat-toolbar>

<app-general-questions-list></app-general-questions-list>
