<div class="container">
  <img src="assets/img/logo.png" />
  <h3>Poetica</h3>
  <p>Версия программы: {{ appVersion }}</p>
  <p>
    Страница проекта:
    <a href="https://www.github.com/cdefgah/poetica">https://www.github.com/cdefgah/poetica</a>
  </p>

  <p>Участники проекта: </p>
  <table>
    <tr>
      <td class="participant-name">
        <a href="https://www.facebook.com/anna.poletaeva.193/">Анна Полетаева</a>
      </td>
      <td class="participant-description">
        Консультации, тестирование.
      </td>
    </tr>
    <tr>
      <td class="participant-name">
        <a href="https://www.facebook.com/vi.ru.338/">Виталий Рудник</a>
      </td>
      <td class="participant-description">
        Консультации, тестирование.
      </td>
    </tr>
    <tr>
      <td class="participant-name">
        <a href="https://github.com/cdefgah/">Рафаэль Осипов</a>
      </td>
      <td class="participant-description">
        Разработка, тестирование, документация итп.
      </td>
    </tr>
  </table>
</div>