/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
         Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.component-buttons-row {
  margin: 1em 1em 1em 1em;
}

.validation-text {
  color: red;
}

.mat-row:hover {
  background-color: lightblue;
}

table {
  width: 100%;
}

.full-width {
  width: 100%;
}


