.encoding-selection-field {
  margin-left: 1em;
  width: 25%;
}

.reports-table {
  margin: 1em 1em 1em 1em;
  border: 1px darkblue solid;
  width: 50%;
}

.reports-table-row {
  border: 1px darkblue solid;
}

.reports-table-prompt-cell {
  border: 1px darkblue solid;
  margin-left: 1em;
  text-align: left;
  width: 30%;
}

.reports-table-action-cell {
  border: 1px darkblue solid;
  text-align: center;
  width: auto;
}

.reports-table-empty-row {
  background-color: lightblue;
  font-size: 0.75em;
}

.dropdown-selection-field {
  width: 80%;
  text-align: center;
}