<p mat-dialog-title>Импорт ответов</p>
<mat-dialog-content>
  <mat-horizontal-stepper
    [linear]="true"
    (selectionChange)="onStepChange($event)"
    #stepper
  >
    <mat-step>
      <mat-tab-group>
        <mat-tab label="Текст письма">
          <form>
            <ng-template matStepLabel>Ввод текста из писем</ng-template>
            <table>
              <tr>
                <td>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Тема письма</mat-label>
                    <input
                      matInput
                      placeholder="Тема письма"
                      name="emailSubjectText"
                      placeholder="Скопируйте тему письма сюда"
                      [(ngModel)]="emailSubject"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Содержание письма</mat-label>
                    <textarea
                      matInput
                      rows="12"
                      placeholder="Скопируйте содержание письма сюда"
                      name="emailBodyText"
                      required
                      [(ngModel)]="emailBody"
                    ></textarea>
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <div>
              <button mat-button color="primary" matStepperNext>Далее</button>
            </div>
          </form>
        </mat-tab>
        <mat-tab label="Ожидаемый формат текста">
          <div class="table-container">
            <p>1. В&nbsp;теме письма ожидается фраза:</p>
            <p class="sample-one-line-text">
              Ответы команды &laquo;название команды&raquo;, регистрационный
              номер команды (предвар./основн.)
            </p>
            <p>
              Название команды обязательно должно быть взято в&nbsp;кавычки
              и&nbsp;может быть написано транслитом.
            </p>
            <p>Пример:</p>
            <p class="sample-one-line-text">
              Otvety komandy &laquo;Moguchie Khomjaki&raquo;, 273 (osnovn.)
            </p>
            <p>
              2. Собственно ответы должны начинаться со&nbsp;служебной строки:
            </p>
            <p class="sample-one-line-text">
              *** &laquo;название команды&raquo;, регистрационный номер команды
            </p>
            <p>
              Название и&nbsp;регистрационный номер обязательно должны совпадать
              с&nbsp;указанными в&nbsp;теме письма.
            </p>
            <p>Вот так, например:</p>
            <p class="sample-one-line-text">
              *** &laquo;Moguchie Khomjaki&raquo;, 273
            </p>
            <p>
              До&nbsp;этой служебной строки могут идти строки
              с&nbsp;произвольным текстом. Но&nbsp;после этой строки должна идти
              информация об&nbsp;ответах.
            </p>
            <p>
              3. Каждый ответ начинается с&nbsp;новой строки. Перед ответом
              обязательно проставляется знак &laquo;#&raquo;, номер бескрылки
              и&nbsp;точка. Вот так, например:
            </p>
            <p class="sample-one-line-text">
              #19. Я помню чудное мгновенье
            </p>
            <p>Ответ может продолжаться и на следующей строчке.</p>
            <p>
              4.&nbsp;В&nbsp;ответе может быть представлен комментарий
              к&nbsp;нему, либо частная версия ответа. Они пишутся после знака
              &laquo;%&raquo;. Вот так, например:
            </p>
            <p class="sample-one-line-text">
              #19. Я&nbsp;помню чудное мгновенье %&nbsp;Частная версия: Люблю
              тебя, Петра творенье
            </p>
            <p>
              5.&nbsp;После блока ответов обязательно следует разделитель:
            </p>
            <p class="sample-one-line-text">***</p>
            <p>
              После разделителя, обозначающего конец блока ответов может
              следовать произвольный текст. Он&nbsp;будет проигнорирован при
              импорте, как и&nbsp;текст, следующий до&nbsp;блока ответов.
            </p>
            <p>
              Пример правильно оформленного ответа:
            </p>
            <pre>
To: Dezhurnye
Subject: Otvety komandy "Marsiane", 343 (osnovn.)
...

Привет! Спасибо за бескрылки!

*** "Марсиане", 343
#1. "Восход" поднимался и падал опять
#2. режьте, братцы, режьте
#3. потому, // Что кто-то слишком много ест
#4. А вы ноктюрн сыграть могли бы
На флейте
#5. Досадно мне, когда Невинных бьют % Класс!
...
#30. Шипя между тем: "Вы ползала
***

Пока!
            </pre>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-step>

    <!--TODO сделать и встроить свойство IsActiveProcessRunning, чтобы не отображался второй шаг, пока выполняется первый -->
    <!--TODO а то он показывает воторой шаг, но при возникновении ошибки (ответ асинхронного процесса), резко его скрывает -->
    <!--TODO это некрасиво и так быть не должно -->
    <mat-step *ngIf="IsFirstStepOk">
      <form>
        <ng-template matStepLabel>Тур и время отправки</ng-template>
        <table>
          <tr>
            <td>
              <mat-form-field>
                <mat-label>На какой тур?</mat-label>
                <mat-select
                  required
                  name="selectedRoundNumber"
                  [(value)]="selectedRoundNumber"
                  [(ngModel)]="selectedRoundNumber"
                >
                  <mat-option
                    *ngFor="let roundAliasOption of allRoundAliases; index as i"
                    [value]="roundAliasOption"
                  >
                    {{ allRoundTitles[i] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <mat-label>Дата отправки письма</mat-label>
                <input
                  matInput
                  [matDatepicker]="emailSentOnDatePicker"
                  [(ngModel)]="emailSentOnDate"
                  name="emailSentOnDate"
                  required
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="emailSentOnDatePicker"
                  name="sentOnDatePicker"
                  placeholder="Дата отправки"
                ></mat-datepicker-toggle>
                <mat-datepicker #emailSentOnDatePicker></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Час отправки письма</mat-label>
                <mat-select
                  required
                  name="emailSentOnHour"
                  [(ngModel)]="emailSentOnHour"
                >
                  <mat-option
                    *ngFor="let hourOption of hourOptions"
                    [value]="hourOption"
                  >
                    {{ hourOption }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              :
              <mat-form-field>
                <mat-label>Минута отправки письма</mat-label>
                <mat-select
                  required
                  name="emailSentOnMinute"
                  [(ngModel)]="emailSentOnMinute"
                >
                  <mat-option
                    *ngFor="let minuteOption of minuteOptions"
                    [value]="minuteOption"
                  >
                    {{ minuteOption }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <div>
          <button mat-button color="primary" matStepperPrevious>
            Назад
          </button>
          <button mat-button color="primary" matStepperNext>Далее</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>{{ lastStepTitle }}</ng-template>
        <div
          *ngIf="allThingsAreOk; then processedDataBlock; else errorsBlock"
        ></div>

        <ng-template #processedDataBlock>
          <div class="table-container">
            <table>
              <tr>
                <td>Номер команды:</td>
                <td>{{ teamFromEmailBody.number }}</td>
              </tr>
              <tr>
                <td>Название команды:</td>
                <td>{{ teamFromEmailBody.title }}</td>
              </tr>
              <tr>
                <td>На какой тур присланы ответы:</td>
                <td>{{ selectedRoundTitle }}</td>
              </tr>
              <tr>
                <td>Дата и время отправки письма:</td>
                <td>{{ compoundEmailSentOnDate }}</td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p>Ответы к загрузке</p>
            <table mat-table [dataSource]="answers">
              <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef>Номер</th>
                <td mat-cell *matCellDef="let answer">
                  {{ answer.questionNumber }}
                </td>
              </ng-container>

              <ng-container matColumnDef="body">
                <th mat-header-cell *matHeaderCellDef>Содержание</th>
                <td mat-cell *matCellDef="let answer">{{ answer.body }}</td>
              </ng-container>

              <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef>Комментарий</th>
                <td mat-cell *matCellDef="let answer">
                  {{ answer.comment }}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedAnswerColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedAnswerColumns"
              ></tr>
            </table>
          </div>
        </ng-template>

        <ng-template #errorsBlock>
          <span>Обнаружена ошибка:</span>
          <hr />
          <div>
            {{ errorsFound }}
          </div>
          <hr />
          <span>Пожалуйста устраните её, чтобы импортировать ответы.</span>
        </ng-template>

        <div>
          <button mat-button color="primary" matStepperPrevious>Назад</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="fill-remaining-space"></span>
  <button
    *ngIf="displayImportButton"
    mat-raised-button
    color="primary"
    (click)="uploadProcessedDataToTheServer()"
  >
    Импортировать ответы
  </button>

  <button mat-raised-button color="accent" (click)="cancelDialog()">
    Отмена
  </button>
</mat-dialog-actions>
