.full-width {
  width: 100%;
}

.table-container {
  margin-top: 5px;
  max-height: 500px;
  overflow: auto;
}

p {
  font-family: sans-serif;
}

li {
  font-family: sans-serif;
  color: darkblue;
  padding-top: 0.25em;
}

h1 {
  color: darkblue;
  font-family: sans-serif;
  font-size: 1.25em;
}

.emphasized-text {
  color: maroon;
  font-family: sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  margin-left: 2em;
}

.sample-text-block {
  white-space: pre;
  color: maroon;
  font-family: sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  margin: 2em 0 0 0;
  padding: 0 0 0 0;
}

.properties-table,
th,
td {
  border: dotted gray 1px;
  padding: 5px;
}

.empty-row-for-properties-table {
  background-color: peachpuff;
}
