<p mat-dialog-title>Импорт заданий</p>
<mat-dialog-content>
  <mat-horizontal-stepper
    [linear]="true"
    (selectionChange)="onStepChange($event)"
    #stepper
  >
    <mat-step [stepControl]="rawSourceTextFormGroup">
      <mat-tab-group>
        <mat-tab label="Текст с заданиями">
          <form>
            <ng-template matStepLabel>Ввод текста с заданиями</ng-template>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Текст с заданиями</mat-label>
              <textarea
                matInput
                rows="15"
                name="rawSourceText"
                placeholder="Скопируйте текст с заданиями сюда"
                required
                [(ngModel)]="sourceText"
              ></textarea>
            </mat-form-field>
            <div>
              <button mat-button color="primary" matStepperNext>Далее</button>
            </div>
          </form>
        </mat-tab>
        <mat-tab label="Описание формата">
          <div class="table-container">
            <p>
              Предполагается, что все вопросы уже заранее созданы, проверены и
              остаётся лишь их&nbsp;оформить нужным образом, чтобы импортировать
              в&nbsp;систему.
            </p>

            <p>
              Обратите внимание, что по&nbsp;умолчанию импортируемые задания
              помечаются системой как зачётные. Для отметки вне-зачётных заданий
              применяйте способ, который будет описан ниже.
            </p>

            <p>
              Одно задание от&nbsp;другого отделяется новой строкой. Каждое
              задание состоит из&nbsp;следующих частей:
            </p>

            <ul>
              <li>Номер</li>
              <li>Заголовок</li>
              <li>Содержимое</li>
              <li>Информация об&nbsp;источнике задания</li>
              <li>Комментарий к&nbsp;заданию</li>
            </ul>

            <h1>Номер и&nbsp;заголовок задания</h1>
            <p>
              Первой строкой текстового блока с&nbsp;заданием идёт строка
              с&nbsp;номером и заголовком задания. Номером импортируемого
              задания может быть ноль, либо положительное целое число. Номер
              задания должен быть уникальным и&nbsp;не повторяться. Перед
              номером задания надо ставить специальный зарезервированный символ
              #. После номера ставится двоеточие, которое отделяет номер
              от&nbsp;заголовка задания.
            </p>

            <p>Пример номера задания с&nbsp;заголовком</p>

            <p class="emphasized-text">#26: Праздничное настроение</p>

            <p>
              Для многокрылки, где каждое крыло оценивается отдельно, номер
              будет составным, по&nbsp;количеству крыльев. Например для
              двукрылки, в&nbsp;которой каждое крыло должно оцениваться
              отдельно, номер будет состоять из&nbsp;двух частей. Для подобным
              образом оцениваемой трёх-крылки&nbsp;&mdash; из&nbsp;трёх итд.
              Например:
            </p>

            <p class="emphasized-text">#7-8: Картинки с&nbsp;выставки</p>
            <p class="emphasized-text">
              #11-12-13: Стихотворение о&nbsp;тройке
            </p>

            <p>
              Отдельные номера разделяются символом&nbsp;&mdash; и&nbsp;должны
              идти в&nbsp;порядке возрастания.
            </p>

            <p>
              Если бескрылка внезачётная, то&nbsp;номер берется в&nbsp;круглые
              скобки.
            </p>

            <p>Например:</p>

            <p class="emphasized-text">#1: Зачётная бескрылка номер один</p>
            <p class="emphasized-text">
              #(2): Внезачётная бескрылка номер два
            </p>
            <p class="emphasized-text">
              #3-4: Зачётная двукрылка с&nbsp;номерами крыльев три и&nbsp;четыре
            </p>
            <p class="emphasized-text">
              #(3-4): Внезачётная двукрылка с&nbsp;номерами крыльев три
              и&nbsp;четыре
            </p>

            <p>
              После номера может следовать заголовок бескрылки. Это одна строка,
              и&nbsp;её задавать необязательно. Если заголовка нет,
              то&nbsp;после номера ничего не пишем, а&nbsp;само тело бескрылки
              начинается на&nbsp;следующей строке.
            </p>

            <p>
              Количество символов в&nbsp;заголовке задания не&nbsp;должно
              превышать
              {{ questionValidationService.maxTitleLength }}.
            </p>

            <h1>Содержимое задания</h1>

            <p>
              Содержимым задания может быть практически любой текст,
              не&nbsp;нарушающий данного формата. Например, если у&nbsp;нас
              венок бескрылок, то&nbsp;в&nbsp;содержании задания
              мы&nbsp;указываем все бескрылки, составляющие венок бескрылок. Вы,
              если хотите, можете дать какие-то номера этим составляющим венок
              бескрылкам. Но, пожалуйста, не&nbsp;используйте зарезервированный
              символ #, и нумеруйте эти бескрылки так, чтобы при выгрузке
              вопросов не&nbsp;возникло путаницы.
            </p>

            <p>
              Количество символов в&nbsp;cодержимом задания не&nbsp;должно
              превышать
              {{ questionValidationService.maxBodyLength }}.
            </p>

            <h1>Информация об&nbsp;источнике задания</h1>
            <p>
              Информация об&nbsp;источнике задаётся на&nbsp;новой строке,
              и&nbsp;предваряется префиксом #S:
            </p>

            <p>Например:</p>

            <p class="emphasized-text">
              #S: А.С. Пушкин&nbsp;&mdash; Песни Западных Славян
            </p>

            <p>
              Источник является обязательным к&nbsp;указанию для каждого
              задания.
            </p>

            <p>
              Информация об&nbsp;источнике может занимать несколько строк.
              Префикс #S: указывается только в&nbsp;начале блока
              с&nbsp;информацией об&nbsp;источнике. Обратите внимание, что
              количество символов для блока с&nbsp;информацией об&nbsp;источнике
              не&nbsp;должно превышать
              {{ questionValidationService.maxSourceLength }}.
            </p>

            <p>Например:</p>

            <p class="sample-text-block">
              #S: А.С. Пушкин&nbsp;&mdash; Песни Западных Славян. Использовано
              стихотворение &laquo;Видение Короля&raquo;, есть влияние
              стихотворений Агнии Барто &laquo;Девочка чумазая&raquo;,
              &laquo;Блинчики&raquo; и&nbsp;&laquo;Хромая табуретка&raquo;.
            </p>
            <h1>Комментарий к&nbsp;заданию</h1>
            <p>
              Комментарий к&nbsp;заданию начинается с&nbsp;новой строки
              и&nbsp;предваряется префиксом: #N:
            </p>

            <p>
              Комментарий может занимать несколько строк. Префикс #N:
              указывается только в&nbsp;начале блока с&nbsp;комментарием.
            </p>

            <p>Например:</p>
            <p class="sample-text-block">
              #N: Во&nbsp;время создания и&nbsp;обсуждения этой бескрылки было
              сломано двадцать три копья фирмы &laquo;Magnum Spear&raquo;.
            </p>

            <p>
              Комментарий необязателен для указания. Обратите внимание, что
              количество символов для блока с&nbsp;комментарием не&nbsp;должно
              превышать {{ questionValidationService.maxCommentLength }}
            </p>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-step>
    <mat-step [stepControl]="rawSourceTextFormGroup">
      <form>
        <ng-template matStepLabel
          >Предварительный просмотр и импорт</ng-template
        >
        <div
          *ngIf="
            dataIsReadyForImport;
            then processedDataBlock;
            else errorsBlock
          "
        ></div>

        <ng-template #processedDataBlock>
          <div class="table-container">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="externalNumber">
                <th mat-header-cell *matHeaderCellDef>Номер</th>
                <td mat-cell *matCellDef="let oneQuestion">
                  {{ oneQuestion.externalNumber }}
                </td>
              </ng-container>

              <ng-container matColumnDef="graded">
                <th mat-header-cell *matHeaderCellDef>Зачётное?</th>
                <td mat-cell *matCellDef="let oneQuestion">
                  {{ oneQuestion.graded ? "Зачётное" : "Внезачётное" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Заголовок</th>
                <td mat-cell *matCellDef="let oneQuestion">
                  {{ oneQuestion.title }}
                </td>
              </ng-container>

              <ng-container matColumnDef="body">
                <th mat-header-cell *matHeaderCellDef>Содержание</th>
                <td mat-cell *matCellDef="let oneQuestion">
                  {{ oneQuestion.body }}
                </td>
              </ng-container>

              <ng-container matColumnDef="source">
                <th mat-header-cell *matHeaderCellDef>Источник</th>
                <td mat-cell *matCellDef="let oneQuestion">
                  {{ oneQuestion.source }}
                </td>
              </ng-container>

              <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef>Комментарий</th>
                <td mat-cell *matCellDef="let oneQuestion">
                  {{ oneQuestion.comment }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns"
                (click)="onRowClicked(row)"
              ></tr>
            </table>
          </div>
        </ng-template>

        <ng-template #errorsBlock>
          <div>
            {{ foundError }}
          </div>
        </ng-template>

        <div>
          <button mat-button color="primary" matStepperPrevious>Назад</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="fill-remaining-space"></span>
  <ng-template [ngIf]="dataIsReadyForImport">
    <button mat-raised-button color="primary" (click)="doImportQuestions()">
      Импортировать задания
    </button>
  </ng-template>
  <button mat-raised-button color="accent" (click)="cancelDialog()">
    Отмена
  </button>
</mat-dialog-actions>
