<p mat-dialog-title>Data import wizard</p>
<mat-dialog-content>
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Raw text</ng-template>
        <mat-form-field appearance="outline" class="w100">
          <mat-label>Input raw text here</mat-label>
          <textarea
            matInput
            rows="15"
            placeholder="Raw text"
            required
            [(ngModel)]="sourceText"
          ></textarea>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Validation</ng-template>
        <p>Тут данные проверяются</p>
        <div>
          <button mat-button matStepperPrevious>Назад</button>
          <button mat-button matStepperNext>Далее</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Import</ng-template>
      <p>Задания готовы для импортирования.</p>
      <button mat-button>Импортировать задания</button>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="cancelDialog()">
    Cancel
  </button>
</mat-dialog-actions>
