.full-width {
  width: 100%;
}

.table-container {
  margin-top: 5px;
  max-height: 500px;
  overflow: auto;
}

.graded-questions-qty-field {
  margin: 1em 1em 1em 1em;
}

.properties-table,
th,
td {
  border: dotted gray 1px;
  padding: 5px;
}

.format-description-emphasized-text {
  font-family: sans-serif;
  color: blue;
  border: 1px orange dotted;
}

.empty-row-for-properties-table {
  background-color: peachpuff;
}
