<p mat-dialog-title>Импорт заданий</p>
<mat-dialog-content>
  <mat-horizontal-stepper
    [linear]="true"
    (selectionChange)="onStepChange($event)"
    #stepper
  >
    <mat-step [stepControl]="rawSourceTextFormGroup">
      <mat-tab-group>
        <mat-tab label="Текст с заданиями">
          <form>
            <ng-template matStepLabel>Ввод текста с заданиями</ng-template>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Текст с заданиями</mat-label>
              <textarea
                matInput
                rows="20"
                name="rawSourceText"
                placeholder="Скопируйте текст с заданиями сюда"
                required
                [(ngModel)]="sourceText"
              ></textarea>
            </mat-form-field>
            <div>
              <button mat-button color="primary" matStepperNext>Далее</button>
            </div>
          </form>
        </mat-tab>
        <mat-tab label="Описание формата">
          <div class="table-container">
            <p>
              Для того, чтобы импортировать все задания разом, убедитесь, что
              текст с&nbsp;заданиями соответствует описанному ниже формату.
              <br />
              Первой строкой в блоке текста задаём количество зачётных заданий в
              следующем формате<br />
            </p>
            <p class="format-description-emphasized-text">
              #G:КоличествоКонкурсныхЗаданий
            </p>
            <p>
              где КоличествоКонкурсныхЗаданий - это целое положительное число,
              которое определяет какое количество загруженых заданий будет
              помечено как конкурсные.<br /><br />
              Все задания вне этого диапазона будут помечены как
              внеконкурсные.<br /><br />
              Например, если указать строку:
            </p>
            <p class="format-description-emphasized-text">#G:30</p>
            <p>
              То первые тридцать загруженных заданий будут помечены как
              конкурсные. Все задания с номерами более 30 будут помечены как
              внеконкурсные.<br /><br />
              Затем идёт блок с перечнем заданий. Номер каждого задания должен
              быть целым положительным числом. Каждое задание в этом блоке
              должно быть представлено в следующем формате:
            </p>
            <p class="format-description-emphasized-text">
              #НомерЗадания:ТекстЗаданияВключаяЗаголовок<br />
              #S: ТекстСИнформациейОбИсточникеЗадания<br />
              #N: ТекстСКомментарием
            </p>
            <p>
              Обратите внимание на то, что в текстовом блоке каждого задания все
              части являются обязательными к указанию, кроме текста с
              комментариями.<br /><br />
              Итак, ниже приведён формат текстового блока с информацией о
              задании.
            </p>
            <div class="one-question-sample">
              <p class="format-description-emphasized-text">
                #4: НОВОГОДНЕЕ<br />
                Мой брат (меня он&nbsp;перерос)<br />
                Доводит всех до&nbsp;слез.<br />
                Он&nbsp;мне сказал, что Дед Мороз<br />
                [...]
                <br />
                #S: Агния Барто&nbsp;&mdash; &laquo;В&nbsp;защиту
                Деда-Мороза&raquo;
                <br />
                #N: В&nbsp;связи с&nbsp;грядущими праздниками.
              </p>
            </div>
            <p>В&nbsp;этом случае результат разбора будет следующим:</p>
            <table class="properties-table">
              <tr>
                <th>Свойство</th>
                <th>Значение</th>
              </tr>
              <tr>
                <td>Номер задания</td>
                <td>4</td>
              </tr>
              <tr>
                <td>Текст задания</td>
                <td>
                  <p>
                    НОВОГОДНЕЕ<br />
                    Мой брат (меня он&nbsp;перерос)<br />
                    Доводит всех до&nbsp;слез.<br />
                    Он&nbsp;мне сказал, что Дед Мороз<br />
                    [...]
                  </p>
                </td>
              </tr>
              <tr>
                <td>Источник</td>
                <td>
                  Агния Барто&nbsp;&mdash; &laquo;В&nbsp;защиту
                  Деда-Мороза&raquo;
                </td>
              </tr>
              <tr>
                <td>Комментарий</td>
                <td>В&nbsp;связи с&nbsp;грядущими праздниками.</td>
              </tr>
            </table>

            <div>
              <p>
                Обратите внимание, что номер задания от&nbsp;текста задания
                обязательно должно отделять двоеточие.<br /><br />
                Пробел после двоеточия ставить необязательно. Только если для
                удобства восприятия текста глазами.<br /><br />
                Блок начала задания воспринимается как окончание предшествующего
                ему задания в&nbsp;блоке текста.
              </p>
            </div>

            <p>
              Ниже приведен полный пример текстового блока заданий для импорта с
              дальнейшим описанием его структуры
            </p>
            <div class="format-description-emphasized-text">
              <p>#G:3</p>
              <p>
                #1: Новогодняя <br />
                Мой брат (меня он&nbsp;перерос) <br />
                Доводит всех до&nbsp;слез. <br />
                Он&nbsp;мне сказал, что Дед Мороз <br />
                [...] <br />
                #S: Агния Барто&nbsp;&mdash; &laquo;В&nbsp;защиту
                Деда-Мороза&raquo;
                <br />
                #Q: В&nbsp;связи с&nbsp;грядущими праздниками
              </p>
              <p>
                #2:Так долго вместе прожили, что вновь<br />
                второе января пришлось на&nbsp;вторник,<br />
                что удивленно поднятая бровь,<br />
                как со&nbsp;стекла автомобиля&nbsp;&mdash; дворник,<br />
                с&nbsp;лица сгоняла смутную печаль,<br />
                [...]<br />
                #S: Иосиф Бродский&nbsp;&mdash; &laquo;Шесть лет
                спустя&raquo;<br />
              </p>
              <p>
                #3: Зима, зима нагрянет скоро,<br />
                Все чаще плачут небеса.<br />
                Пошли на&nbsp;приступ мухоморы &mdash;<br />
                [...]<br />
                #S: Юлия Друнина&nbsp;&mdash; &laquo;Зима, зима нагрянет
                скоро&raquo;<br />
              </p>
              <p>
                #4: Что ты&nbsp;жадно глядишь на&nbsp;дорогу<br />
                В&nbsp;стороне от&nbsp;весёлых подруг?<br />
                [...]<br />
                Всё лицо твоё вспыхнуло вдруг.<br />
                #S: Николай Некрасов&nbsp;&mdash; &laquo;Тройка&raquo;<br />
              </p>
              <p>
                #5: &mdash;&nbsp;Скажи-ка, дядя, ведь не&nbsp;даром<br />
                Москва, спаленная пожаром,<br />
                Французу отдана?<br />
                Ведь были&nbsp;ж схватки боевые,<br />
                [...]<br />
                Недаром помнит вся Россия<br />
                [...]<br />
                #S: Михаил Лермонтов&nbsp;&mdash; &laquo;Бородино&raquo;<br />
              </p>
            </div>
            <p>Результаты разбора:</p>
            <table class="properties-table">
              <tr>
                <th>Свойство</th>
                <th>Значение</th>
              </tr>
              <tr>
                <td>Количество зачётных заданий</td>
                <td>3</td>
              </tr>
              <tr>
                <td colspan="2" class="empty-row-for-properties-table"></td>
              </tr>
              <tr>
                <td>Тип задания №1</td>
                <td>
                  Зачётное задание
                </td>
              </tr>
              <tr>
                <td>Текст задания №1</td>
                <td>
                  <p>
                    НОВОГОДНЕЕ<br />
                    Мой брат (меня он&nbsp;перерос)<br />
                    Доводит всех до&nbsp;слез.<br />
                    Он&nbsp;мне сказал, что Дед Мороз<br />
                    [...]
                  </p>
                </td>
              </tr>
              <tr>
                <td>Источник задания №1</td>
                <td>
                  Агния Барто&nbsp;&mdash; &laquo;В&nbsp;защиту
                  Деда-Мороза&raquo;
                </td>
              </tr>
              <tr>
                <td>Комментарий к заданию №1</td>
                <td>В&nbsp;связи с&nbsp;грядущими праздниками.</td>
              </tr>
              <tr>
                <td colspan="2" class="empty-row-for-properties-table"></td>
              </tr>
              <tr>
                <td>Тип задания №2</td>
                <td>
                  Зачётное задание
                </td>
              </tr>
              <tr>
                <td>Текст задания №2</td>
                <td>
                  <p>
                    Так долго вместе прожили, что вновь<br />
                    второе января пришлось на&nbsp;вторник,<br />
                    что удивленно поднятая бровь,<br />
                    как со&nbsp;стекла автомобиля&nbsp;&mdash; дворник,<br />
                    с&nbsp;лица сгоняла смутную печаль,<br />
                    [...]<br />
                  </p>
                </td>
              </tr>
              <tr>
                <td>Источник задания №2</td>
                <td>
                  Иосиф Бродский&nbsp;&mdash; &laquo;Шесть лет спустя&raquo;
                </td>
              </tr>
              <tr>
                <td>Комментарий к заданию №2</td>
                <td>=== отстутствует ===</td>
              </tr>
              <tr>
                <td colspan="2" class="empty-row-for-properties-table"></td>
              </tr>
              <tr>
                <td>Тип задания №3</td>
                <td>
                  Зачётное задание
                </td>
              </tr>
              <tr>
                <td>Текст задания №3</td>
                <td>
                  <p>
                    Зима, зима нагрянет скоро,<br />
                    Все чаще плачут небеса.<br />
                    Пошли на&nbsp;приступ мухоморы &mdash; <br />
                    [...]<br />
                  </p>
                </td>
              </tr>
              <tr>
                <td>Источник задания №3</td>
                <td>
                  Юлия Друнина&nbsp;&mdash; &laquo;Зима, зима нагрянет
                  скоро&raquo;
                </td>
              </tr>
              <tr>
                <td>Комментарий к заданию №3</td>
                <td>=== отстутствует ===</td>
              </tr>
              <tr>
                <td colspan="2" class="empty-row-for-properties-table"></td>
              </tr>
              <tr>
                <td>Тип задания №4</td>
                <td>
                  Внезачётное задание
                </td>
              </tr>
              <tr>
                <td>Текст задания №4</td>
                <td>
                  <p>
                    Что ты&nbsp;жадно глядишь на&nbsp;дорогу<br />
                    В&nbsp;стороне от&nbsp;весёлых подруг?<br />
                    [...]<br />
                    Всё лицо твоё вспыхнуло вдруг.<br />
                  </p>
                </td>
              </tr>
              <tr>
                <td>Источник задания №4</td>
                <td>
                  Николай Некрасов&nbsp;&mdash; &laquo;Тройка&raquo;
                </td>
              </tr>
              <tr>
                <td>Комментарий к заданию №4</td>
                <td>=== отстутствует ===</td>
              </tr>
              <tr>
                <td colspan="2" class="empty-row-for-properties-table"></td>
              </tr>
              <tr>
                <td>Тип задания №5</td>
                <td>
                  Внезачётное задание
                </td>
              </tr>
              <tr>
                <td>Текст задания №5</td>
                <td>
                  <p>
                    &mdash;&nbsp;Скажи-ка, дядя, ведь не&nbsp;даром<br />
                    Москва, спаленная пожаром,<br />
                    Французу отдана?<br />
                    Ведь были&nbsp;ж схватки боевые,<br />
                    [...]<br />
                    Недаром помнит вся Россия<br />
                    [...]
                  </p>
                </td>
              </tr>
              <tr>
                <td>Источник задания №5</td>
                <td>
                  Михаил Лермонтов&nbsp;&mdash; &laquo;Бородино&raquo;
                </td>
              </tr>
              <tr>
                <td>Комментарий к заданию №5</td>
                <td>=== отстутствует ===</td>
              </tr>
            </table>

            <br />
            <br />
            <br />
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-step>
    <mat-step [stepControl]="rawSourceTextFormGroup">
      <form>
        <ng-template matStepLabel
          >Предварительный просмотр и импорт</ng-template
        >
        <div class="table-container">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef>Номер</th>
              <td mat-cell *matCellDef="let oneQuestion">
                {{ oneQuestion.number }}
              </td>
            </ng-container>

            <ng-container matColumnDef="body">
              <th mat-header-cell *matHeaderCellDef>Содержание</th>
              <td mat-cell *matCellDef="let oneQuestion">
                {{ oneQuestion.body }}
              </td>
            </ng-container>

            <ng-container matColumnDef="source">
              <th mat-header-cell *matHeaderCellDef>Источник</th>
              <td mat-cell *matCellDef="let oneQuestion">
                {{ oneQuestion.source }}
              </td>
            </ng-container>

            <ng-container matColumnDef="comment">
              <th mat-header-cell *matHeaderCellDef>Комментарий</th>
              <td mat-cell *matCellDef="let oneQuestion">
                {{ oneQuestion.comment }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              (click)="onRowClicked(row)"
            ></tr>
          </table>
        </div>
        <div>
          <button mat-button color="primary" matStepperPrevious>Назад</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="fill-remaining-space"></span>
  <button mat-raised-button color="accent" (click)="cancelDialog()">
    Отмена
  </button>
</mat-dialog-actions>
