<p mat-dialog-title>Импорт заданий</p>
<mat-dialog-content>
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="rawTextFormGroup">
      <form [formGroup]="rawTextFormGroup">
        <ng-template matStepLabel>Ввод текста с заданиями</ng-template>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Текст с заданиями</mat-label>
          <textarea
            matInput
            rows="20"
            placeholder="Скопируйте текст с заданиями сюда"
            formControlName="rawTextControl"
            required
            [(ngModel)]="sourceText"
          ></textarea>
        </mat-form-field>
        <div>
          <button mat-button color="primary" matStepperNext>Далее</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="textValidationFormGroup">
      <form [formGroup]="textValidationFormGroup">
        <ng-template matStepLabel>Предварительный просмотр</ng-template>
        <div class="table-container">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef>Номер</th>
              <td mat-cell *matCellDef="let oneQuestion">
                {{ oneQuestion.number }}
              </td>
            </ng-container>

            <ng-container matColumnDef="body">
              <th mat-header-cell *matHeaderCellDef>Содержание</th>
              <td mat-cell *matCellDef="let oneQuestion">
                {{ oneQuestion.body }}
              </td>
            </ng-container>

            <ng-container matColumnDef="source">
              <th mat-header-cell *matHeaderCellDef>Источник</th>
              <td mat-cell *matCellDef="let oneQuestion">
                {{ oneQuestion.source }}
              </td>
            </ng-container>

            <ng-container matColumnDef="comment">
              <th mat-header-cell *matHeaderCellDef>Комментарий</th>
              <td mat-cell *matCellDef="let oneQuestion">
                {{ oneQuestion.comment }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              (click)="onRowClicked(row)"
            ></tr>
          </table>
        </div>
        <div>
          <button mat-button color="primary" matStepperPrevious>Назад</button>
          <button mat-button color="primary" matStepperNext>Далее</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Импорт</ng-template>
      <p>Задания готовы для импортирования.</p>
      <button mat-button color="primary">Импортировать задания</button>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="fill-remaining-space"></span>
  <button mat-raised-button color="accent" (click)="cancelDialog()">
    Отмена
  </button>
</mat-dialog-actions>
