<p mat-dialog-title>{{ generateDialogTitle() }}</p>
<mat-dialog-content>
  <div style="display: flex; flex-direction: column">
    <mat-form-field appearance="outline">
      <mat-label>Содержание</mat-label>
      <textarea
        matInput
        rows="7"
        placeholder="Содержание"
        maxlength="{{ maxBodyFieldSize }}"
        [(ngModel)]="questionBody"
      ></textarea>
      <mat-hint class="validation-text" *ngIf="questionBodyIsIncorrect"
        >Обязательное поле</mat-hint
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Источник</mat-label>
      <textarea
        matInput
        rows="3"
        placeholder="Источник"
        maxlength="{{ maxSourceFieldSize }}"
        [(ngModel)]="questionSource"
      ></textarea>
      <mat-hint class="validation-text" *ngIf="questionSourceIsIncorrect"
        >Обязательное поле</mat-hint
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Комментарий</mat-label>
      <textarea
        matInput
        rows="3"
        placeholder="Комментарий"
        maxlength="{{ maxCommentFieldSize }}"
        [(ngModel)]="questionComment"
      ></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="acceptDialog()">
    Сохранить
  </button>
  <button mat-raised-button color="primary" (click)="cancelDialog()">
    Отменить
  </button>
</mat-dialog-actions>
