<mat-toolbar>
  <span>Задания</span>

  <span class="fill-remaining-space"></span>
  <button mat-raised-button color="primary">
    Импортировать список заданий
  </button>
</mat-toolbar>

<mat-radio-group [(ngModel)]="selectedDisplayModeAlias">
  <mat-radio-button
    class="display-mode-radio-button"
    *ngFor="let displayModeAlias of displayModeAliases; index as i"
    [value]="displayModeAlias"
  >
    {{ displayModeTitles[i] }}
  </mat-radio-button>
</mat-radio-group>
<hr />
<button mat-raised-button color="accent" (click)="loadConstraints()">
  Загрузить constraints (проверяй консоль)
</button>
